/models/

/utils/__pycache__/
/utils/fpscores.pkl.gz
/utils/sascorer.py
/utils/standalone_model_numpy.py
/utils/login.txt

/rest/login.txt
/triggers/login.txt

/website/utils/*

test/*

*.pyc
*.zip
/utils/login.txt
/utils/hash_salt.txt
/utils/secret_key.txt

/data/OPIOID_RECEPTORS_PUBCHEM/*
/data/DESI/*
/data/CHEMBL/*

*.png