<!DOCTYPE html>
<html>
    <head>
        <title>Cipher Database</title>
    </head>
    <body>
        <h3>Welcome to the Cipher Database</h3>
        <form action="" method="POST">
            <button name='gui' value="gui">GUI</button>
        </form>
        <form action="" method="POST">
            <button name='api' value="api">RESTful API</button>
        </form>
        <form action="" method="POST">
            <button name='login' value="login">Login</button>
        </form>
    </body>
</html>