<!DOCTYPE html>
<html>
    <head>
        <title>RESTful API</title>
    </head>
    <body>
        <h3>Welcome to the RESTful API</h3>
        <p>
            The RESTful API provides easy access to formatted information the CIPHER database via a structured URL call.
            The following guide will demonstrate how to construct a URL for access to varaious database information as well as showcase
            several examples. The final part of the guide will show how to use POST and PUT functionality to construct complex search 
            queries and add information to the database.
        </p>
        <h3>General Collection</h3>
        <p>
            The general collection of the database contains basic identifying information of database compounds. This includes compound
            name, SMILES string, InChi string, and InChi Key. In additition to identifying information, the general collection contains 
            a modification date which denotes the last date and time the compounds information was updated.
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            www.cipher-db.com/rest/general/&ltinput_type&gt/&ltinput&gt/&ltdata_type&gt/&ltoutput_type&gt
        </p>
        <h3>Properties Collection</h3>
        <p>
            
        </p>
    </body>
</html>