<!DOCTYPE html>
<html>
    <head>
        <title>Cipher RESTful API</title>
    </head>
    <style>
        p {
            font-size: 16px;
        }
        .url {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <body>
        <h1>Welcome to the Cipher RESTful API</h1>
        <p>
            The RESTful API provides easy access to formatted information the CIPHER database via a structured URL call.
            The following guide will demonstrate how to construct a URL for access to varaious database information as well as showcase
            several examples. The final part of the guide will show how to use POST and PUT functionality to construct complex search 
            queries and add information to the database.
        </p>
        <h2>General Collection</h2>
        <p>
            The general collection of the database contains basic identifying information of database compounds. This includes compound
            name, SMILES string, InChi string, and InChi Key. In additition to identifying information, the general collection contains 
            a modification date which denotes the last date and time the compounds information was updated.
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/general/&ltinput_type&gt/&ltinput&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Properties Collection</h2>
        <p>
            The properties collection of the database contains physical and chemical properties that are both determined experimentally
            and calculated via computational software. The collection is organzed heierarchically by compound, data source and then property.
            For example, oxycodone (compound) can have information from the Pubchem database (data sourece) such as octanol-water partition 
            coefficient (property). 
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/properties/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Binding Collection</h2>
        <p>
            The binding collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/binding/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Reactivity Collection</h2>
        <p>
            The reactivity collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/reactivity/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Spectra Collection</h2>
        <p>
            The spectra collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/spectra/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Clinical Collection</h2>
        <p>
            The clinical collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/clinical/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Animal Collection</h2>
        <p>
            The animal collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/animal/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
        <h2>Machine Learning (ML) Collection</h2>
        <p>
            The ML collection of the database contains ...
            <br><br>
            The URL format to access this collection of the database with a GET request is as follows:
            <br><br>
            <span class="url">
                www.cipher-db.com/rest/ml/&ltinput_type&gt/&ltinput&gt/&ltdataset&gt/&ltdata_type&gt/&ltoutput_type&gt
            </span>
        </p>
    </body>
</html>