<!DOCTYPE html>
<head>

</head>
<style>
    .panel {
        border:2px solid #ccc; 
        width: 100%;
        height: max-content;
    }
    p {
        font-size: 14pt;
        margin-left: 10px;
    }
    img {
        zoom: 0.4;
    }
</style>
<body>
    <h1>Identifiers and Basic Properites</h1>
    <div id="identifiers" class="panel">
        <p>
            <strong>Name:</strong> Naloxone
            <br>
            <strong>SMILES:</strong> C=CCN1CCC23C4C(=O)CCC2(C1CC5=C3C(=C(C=C5)O)O4)O
            <br>
            <strong>InChi:</strong> InChI=1S/C19H21NO4/c1-2-8-20-9-7-18-15-11-3-4-12(21)16(15)24-17(18)13(22)5-6-19(18,23)14(20)10-11/h2-4,14,17,21,23H,1,5-10H2/t14-,17+,18+,19-/m1/s1
            <br>
            <strong>InChi-Key:</strong> UZHSEJADLWPNLE-GRGSLBFTSA-N
            <br>
            <strong>Molecular Formula:</strong> C19H21NO4
            <br>
            <strong>CAS:</strong> 465-65-6
            <br>
            <strong>Molecular Weight:</strong> 327.4
            <br>
            <strong>Hydrogen Bond Donor Count:</strong> 2
            <br>
            <strong>Hydrogen Bond Acceptor Count:</strong> 5
            <br>
            <strong>logP (Drugbank):</strong> 2.09
            <br>
            <strong>BioAssay Link:</strong> <a href="https://pubchem.ncbi.nlm.nih.gov/compound/naloxone#section=BioAssay-Results&fullscreen=true">Naloxone</a>
        </p>
    </div>
    <br>
    <h1>Experimental Measurements</h1>
    <div id="experimental" class="panel">
        <p>
            <strong>Assay:</strong>
            <br>
            &emsp;&emsp;<strong>Field1:</strong> 50
            <br>
            &emsp;&emsp;<strong>Field2:</strong> uOR
            <br>
            &emsp;&emsp;<strong>Field3:</strong> Leucine Enkephalin
            <br>
            &emsp;&emsp;<strong>Field4:</strong> 0.682051875
            <br>
            &emsp;&emsp;<strong>Field5:</strong> 0.074875445
            <br>
            <strong>Assay:</strong>
            <br>
            &emsp;&emsp;<strong>Field1:</strong> 5
            <br>
            &emsp;&emsp;<strong>Field2:</strong> uOR
            <br>
            &emsp;&emsp;<strong>Field3:</strong> Leucine Enkephalin
            <br>
            &emsp;&emsp;<strong>Field4:</strong> 0.635933333
            <br>
            &emsp;&emsp;<strong>Field5:</strong> 0.082646028
        </p>
    </div>
    <br>
    <h1>Simulated Measurements</h1>
    <div id="simulated" class="panel">
        <p>
            <strong>BANDOCK</strong>
            <br>
            &emsp;&emsp;<strong>P14416-F1:</strong> 0.7085258718572587
            <br>
            &emsp;&emsp;<strong>P35372-F1:</strong> 0.64
            <br>
            &emsp;&emsp;<strong>P35462-F1:</strong> 0.59
            <br>
            &emsp;&emsp;<strong>P41143-F1:</strong> 0.66
            <br>
            &emsp;&emsp;<strong>P41143-F1:</strong> 0.6
            <br>
            &emsp;&emsp;<strong>P41146-F1:</strong> 0.57
            <br>
            &emsp;&emsp;<strong>P42262-F1:</strong> 0.97252700729927
            <br>
            &emsp;&emsp;<strong>Q13224-F1:</strong> 0.3746806163828062
            <br>
            <strong>Match to Desired Dynamic Biosignature</strong>
            <br>
            &emsp;&emsp;<strong>MUO:</strong> [d] (desired [p])
            <br>
            &emsp;&emsp;<strong>DOR:</strong> [d] (desired [u])
            <br>
            &emsp;&emsp;<strong>KOR:</strong> [p] (desired [p])
            <br>
            &emsp;&emsp;<strong>NOR:</strong> [-] (desired [u])
            <br>
            &emsp;&emsp;<strong>D2DR:</strong> [u] (desired [u])
            <br>
            &emsp;&emsp;<strong>D2LDR:</strong> [d] (desired [d])
            <br>
            &emsp;&emsp;<strong>D3DR:</strong> [d] (desired [u])
            <br>
            &emsp;&emsp;<strong>NMDA:</strong> [u] (desired [u])
            <br>
            &emsp;&emsp;<strong>AMPA:</strong> [d] (desired [d])
            <br>
        </p>
    </div>
    <br>
    <h1>Synthesis</h1>
    <div id="synthesis" class="panel">
        <p>
             <strong>Synthetic Metrics</strong>
             <br>
             &emsp;&emsp;<strong>SA Score</strong> 2.24471887681778
             <br>
             &emsp;&emsp;<strong>SC Score</strong> 3.6999893773436416
             <br>
             <strong>Open Reaction Database (ORD) Related Reactions</strong>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-83b87404cac74a098a5f5df761c2d0df">ord-83b87404cac74a098a5f5df761c2d0df</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-e9393fbc8d494e97b8cd38d524d18627">ord-e9393fbc8d494e97b8cd38d524d18627</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-e3691aa120b147e68c8220a36f294864">ord-e3691aa120b147e68c8220a36f294864</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-93e3751559174890bfa426b8143995a9">ord-93e3751559174890bfa426b8143995a9</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-e5f0cf089a3d434181e3d16b435926a5">ord-e5f0cf089a3d434181e3d16b435926a5</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-49dc600508fe45399c761aefbf8b3c29">ord-49dc600508fe45399c761aefbf8b3c29</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-93e3751559174890bfa426b8143995a9">ord-93e3751559174890bfa426b8143995a9</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-2ab5508fb80245ab96b0c92dbf6f018e">ord-2ab5508fb80245ab96b0c92dbf6f018e</a>
             <br>
             &emsp;&emsp;<strong>ORD ID:</strong> <a href="https://client.open-reaction-database.org/id/ord-874120603b824a5fba4f8c1fecf2986a">ord-874120603b824a5fba4f8c1fecf2986a</a>
             <br>
             <strong>ASKCOS Predicted Retrosynthetic Route</strong>
             <br>
             <img src="static/images/Naloxone_table.png" height="">
        </p>
    </div>
</body>